<div class="ait-content"> 
	<div class="ait-logo" fxHide="true" fxShow.gt-sm="true" fxLayout="row" fxLayoutAlign="center">
		<md-card fxLayout="row" fxFlex>
			<img alt="logo" *ngIf="environment.logoLeft" src="assets/img/logo_left.png">	
			<div fxFlex><h1 fxLayoutAlign="center" *ngIf="environment.titlePage">{{environment.systemTitle}}</h1></div>
			<img alt="logo" *ngIf="environment.logoRight" src="assets/img/logo_right.png">
		</md-card>
	</div>
	<md-toolbar color="primary" class="ait-toolbar">
	    <button md-icon-button (click)="sidenav.toggle()" *ngIf="user.menu && user.menu.length>0">
	      <md-icon>menu</md-icon>
	    </button>
	    <span>{{environment.systemTitle}}</span>
	    <span fxFlex></span>
		    <button md-button (click)="toggleDarkTheme()">Contrast</button>
    	<a md-icon-button href="./login" *ngIf="!user.username"><md-icon>security</md-icon></a>
    	<button md-icon-button (click)="logout()" *ngIf="user.username"><md-icon>exit_to_app</md-icon></button>
  	</md-toolbar>
	<md-sidenav-container [class.ait-dark]="isDarkTheme()" >
		<md-sidenav #sidenav mode="{{getSidenavMode()}}" class="app-sidenav">
	    	<app-ait-menu-list [menu]="user.menu" fxLayout="column" [sideNav]="sidenav"></app-ait-menu-list>
	  	</md-sidenav>
		<div class="route-content">
			<md-card color="primary">
				<router-outlet></router-outlet>
			</md-card>
		</div>
	</md-sidenav-container>
	<div fxHide="true" fxShow.gt-sm="true" >
		<div class="ait-footer" fxLayout="column" fxlayoutAlign="center" >
			<span fxLayout="row" fxLayoutAlign="center">Se recomienda usar las versiones m&aacute;s recientes de</span>
			<span fxLayout="row" fxLayoutAlign="center" fxLayoutWrap="wrap">
				<button md-button [disabled]="true" ><img src="assets/img/browsers/chrome.png" >&nbsp;Google Chrome</button>
				<button md-button [disabled]="true"><img src="assets/img/browsers/firefox.png" >&nbsp;Mozilla Firefox</button>
				<button md-button [disabled]="true"><img src="assets/img/browsers/safari.png" >&nbsp;Safari&nbsp;</button>
				<button md-button [disabled]="true"><img src="assets/img/browsers/edge.png" >&nbsp;Microsoft Edge</button>
			</span>
		</div>
    </div>
</div>