.ait-snackbar-error {
  border-left: solid 8px red;
}

.ait-snackbar-warning {
  border-left: solid 8px darkorange;
}

.ait-snackbar-info {
  border-left: solid 8px dodgerblue;
}

.ait-snackbar-confirm {
  border-left: solid 8px green;
}
