<div >
	<md-toolbar class="table-toolbar">
  		<md-input-container>
		  	<input mdInput placeholder="Filtrar resultados" (keyup)='updateFilter($event)'>
		</md-input-container>
		<span fxFlex></span>
		<button md-icon-button mdTooltip="Nuevo registro"><md-icon class="table-icon">add</md-icon></button>
    	<button md-icon-button *ngIf="rows.length>0"><md-icon class="table-icon" >delete</md-icon></button>
  	</md-toolbar>
	<ngx-datatable #table *ngIf="rows.length>0" class='material' columnMode="force" [headerHeight]="50" [limit]="5" [loadingIndicator]="loadingIndicator" [rowHeight]="'auto'" [footerHeight]="'auto'" [rows]="rows" >
		<ngx-datatable-column *ngFor="let column of columns" name="{{column.value}}" prop="{{column.prop}}"></ngx-datatable-column>
		<ngx-datatable-column name="Opciones" [width]="110" [canAutoResize]="true">
      		<ng-template ngx-datatable-cell-template>
        		<button md-icon-button mdTooltip="Editar" color="accent"><md-icon >edit</md-icon></button>
      		</ng-template>
   		</ngx-datatable-column>
	</ngx-datatable>
	<ngx-datatable #table2 *ngIf="rows.length>0" class='material' columnMode="force" [headerHeight]="50" [limit]="5" [loadingIndicator]="loadingIndicator" [rowHeight]="'auto'" [footerHeight]="'auto'" [rows]="rows" >
		<ngx-datatable-column *ngFor="let column of columns" name="{{column.value}}" prop="{{column.prop}}"></ngx-datatable-column>
		<ngx-datatable-column name="Opciones" [width]="110" [canAutoResize]="true">
      		<ng-template ngx-datatable-cell-template>
        		<button md-icon-button mdTooltip="Editar" color="warn"><md-icon>edit</md-icon></button>
      		</ng-template>
   		</ngx-datatable-column>
	</ngx-datatable>
	<ngx-datatable #table3 *ngIf="rows.length>0" class='material' columnMode="force" [headerHeight]="50" [limit]="5" [loadingIndicator]="loadingIndicator" [rowHeight]="'auto'" [footerHeight]="'auto'" [rows]="rows" >
		<ngx-datatable-column *ngFor="let column of columns" name="{{column.value}}" prop="{{column.prop}}"></ngx-datatable-column>
		<ngx-datatable-column name="Opciones" [width]="110" [canAutoResize]="true">
      		<ng-template ngx-datatable-cell-template>
        		<button md-icon-button mdTooltip="Editar"><md-icon class="table-icon">edit</md-icon></button>
      		</ng-template>
   		</ngx-datatable-column>
	</ngx-datatable>
</div>