<div fxLayout="column">
	<md-list-item (click)="goTo(item)">
		<div md-line fxLayout="row">
			<md-icon [ngStyle]="getStyle()">{{item.icon}}</md-icon>&nbsp;&nbsp;
			<div fxLayout="column" fxLayoutAlign="center center">{{item.title}}</div>
			<div fxFlex></div>
			<md-icon *ngIf="hasChildren(item) && item.expanded">keyboard_arrow_down</md-icon>
			<md-icon *ngIf="hasChildren(item) && !item.expanded">keyboard_arrow_right</md-icon>
		</div>
	</md-list-item>
	<div *ngIf="hasChildren(item) && item.expanded">
		<div class="menu-item" *ngFor="let child of item.children | orderBy: 'order'">
		    <app-ait-menu-item [item]="child" [level]="level + 1"></app-ait-menu-item>
		</div>
	</div>
</div>