@import '~@angular/material/theming';

.table-toolbar {
  font-size: 1rem !important;
}

.tittle-toolbar {
  background: white !important;
  color: green !important;
}

.mat-header-row, .mat-row {
  padding: 0 8px !important;
}

mat-cell:first-child, mat-footer-cell:first-child, mat-header-cell:first-child {
  padding-left: 0 !important;
}

mat-cell:last-child, mat-footer-cell:last-child, mat-header-cell:last-child {
  padding-right: 0 !important;
}

.mat-header-row {
  position: sticky;
  top: 0;
  background: #ddd;
  z-index: 99;
}

.mat-header-cell, .mat-cell {
  margin: 4px;
}

.table-icon {
  color: gray;
}

.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button {
  padding: 0 4px !important;
}
/*
.mat-divider {
  margin: 8px !important;
}
*/
.mat-icon {
  vertical-align: middle;
}

.mat-dialog-container {
  padding: 0px !important;
}

.mat-dialog-content {
  margin: 0 !important;
}

.mat-dialog-actions:last-child {
  margin-bottom: 0 !important;
}

.error {
  background-color: #ff0000b0;
}

.tricky-select {
  width: 100%;
}

.tricky-select .mat-input-underline {
  display: none;
}

.mat-snack-bar-container {
  background-color: white !important;
  border: solid 0.5px lightgray !important;
  color: #333 !important;
  padding: 0px !important;
}

datatable-body-cell {
  padding: 0.2rem 1.2rem !important;
  min-height: 40px;
}
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$ait-primary: mat-palette($mat-green);
$ait-accent: mat-palette($mat-indigo);

// The warn palette is optional (defaults to red).
$ait-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ait-theme: mat-light-theme($ait-primary, $ait-accent, $ait-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ait-theme);


.ait-dark {
  $ait-dark-primary: mat-palette($mat-green, 700, 500, 900);
  $ait-dark-accent: mat-palette($mat-indigo, A200, A100, A400);
  $ait-dark-warn: mat-palette($mat-red);

  $ait-dark-theme: mat-dark-theme($ait-dark-primary, $ait-dark-accent, $ait-dark-warn);

  @include angular-material-theme($ait-dark-theme);
}

.ngxp__container {
  background: floralwhite;
  color: black;
  padding: 10px;
  text-align: left;
  z-index: 199;
  min-width: 200px;
}

.mat-checkbox-label {
  display: grid;
}

.ait-backdrop {
  opacity: 0;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: gray !important;
  -webkit-transition: opacity 400ms cubic-bezier(1, 0, 0, 1) !important;
  transition: opacity 400ms cubic-bezier(1, 0, 0, 1) !important;
}
