<div fxLayout="column">
  <mat-list-item (click)="goTo(item)">
    <div mat-line fxLayout="row">
      <mat-icon [ngStyle]="getStyle()">{{item.icon}}</mat-icon>&nbsp;&nbsp;
      <div fxLayout="column" fxLayoutAlign="center center">{{item.title}}</div>
      <div fxFlex></div>
      <mat-icon *ngIf="hasChildren(item) && item.expanded">keyboard_arrow_down</mat-icon>
      <mat-icon *ngIf="hasChildren(item) && !item.expanded">keyboard_arrow_right</mat-icon>
    </div>
  </mat-list-item>
  <div *ngIf="hasChildren(item) && item.expanded">
    <div class="menu-item" *ngFor="let child of item.children | orderBy: 'order'">
      <app-ait-menu-item [item]="child" [level]="level + 1" [sideNav]="sideNav"></app-ait-menu-item>
    </div>
  </div>
</div>
